.row
  .col-lg-4
    .stat
      %h2 Users
      %span.stat-heading 0
  .col-lg-4
    .stat
      %h2 Messages
      %span.stat-heading 0
  .col-lg-4
    .stat
      %h2 Phantoms 
      %span.stat-heading 0

.row
