.row
  %h1 基本数据

.row
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th title
        %th datetime
        %td data
    %tbody
      - startup = Time.at(ENV["DATE_STARTUP"].to_i)
      %tr
        %td startup 
        %td= startup.strftime("%Y/%m/%d %H:%M:%S") 
        %td
      %tr
        %td sysdate
        %td= Time.now.strftime("%Y/%m/%d %H:%M:%S")
        %td
